[project]
	description = Traditional Chinese Edition
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alvin Chiou (alvinhsian)
[access "refs/for/refs/*"]
	read = group user/Alvin Chiou (alvinhsian)
	push = group user/Alvin Chiou (alvinhsian)
	label-Code-Review = -2..+2 group user/Alvin Chiou (alvinhsian)
	label-Verified = -1..+1 group user/Alvin Chiou (alvinhsian)
	rebase = group user/Alvin Chiou (alvinhsian)
	removeReviewer = group user/Alvin Chiou (alvinhsian)
	submit = group user/Alvin Chiou (alvinhsian)
[access "refs/heads/*"]
	read = group user/Alvin Chiou (alvinhsian)
	create = group user/Alvin Chiou (alvinhsian)
	push = +force group user/Alvin Chiou (alvinhsian)
	pushMerge = group user/Alvin Chiou (alvinhsian)
[access "refs/tags/*"]
	push = +force group user/Alvin Chiou (alvinhsian)
	pushTag = group user/Alvin Chiou (alvinhsian)
	pushSignedTag = group user/Alvin Chiou (alvinhsian)
